<div class="header">
    <div class="container__header">
        <div class="header__content">
            Літній розпродаж до 40%
        </div>
    </div>
    <div class="container__header__bottom">
        <label for="burger">
            <img src="../icon/head/brgr.svg" alt="brgr">
        </label>
        <label for="logo">
            <a href="/"><img src="../icon/head/logo.svg" alt="brgr"></a>
            
        </label>
        <label for="btn__cat">
            <button type="button" class="btn__catalog">
                <img src="../icon/head/btncat.svg" alt="btncat">
                <div class="content__btn">Каталог</div>
            </button>
        </label>
        <label for="input__rozetka">
            <div class="container__input">
                <input type="text" class="input__search">
                <div class="icon__input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <button type="button">Пошук</button>
            </div>
        </label>
        <label for="burger">
            <a href="/profile">
                <img src="../icon/head/profile.svg" alt="brgr">
            </a>
        </label>
        <label for="burger">
            <a href="/bskt">
                <img src="../icon/head/bskt.svg" alt="brgr">
            </a>
        </label>
        <label for="help">
            <a href="/help">
                <i class="fa-solid fa-circle-info"></i>
            </a>
        </label>
    </div>
</div>